@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AddBreadboardModel
@{
    <p>
        Add breadboard
    </p>
    <form asp-controller="Admin" asp-action="Breadboard" method="post">
        Price: <input min="1" type="number" asp-for="Price" /> <br />
        <span asp-validation-for="Price" class="text-danger"></span><br />
        Model: <input asp-for="Model" /><br />
        <span asp-validation-for="Model" class="text-danger"></span><br />
        Company: @Html.DropDownListFor(m => m.CompanyID,
new SelectList(Model.Companies, "CompanyID", "Name"))<br />
        Product Image: <input asp-for="ProductImage" /><br />
        <span asp-validation-for="ProductImage" class="text-danger"></span><br />
        Width: <input min="1" type="number" asp-for="Width" /> <br />
        <span asp-validation-for="Width" class="text-danger"></span><br />
        Length: <input min="1" type="number" asp-for="Length" /> <br />
        <span asp-validation-for="Length" class="text-danger"></span><br />
        Tie Points: <input min="1" type="number" asp-for="TiePoints" /> <br />
        <span asp-validation-for="TiePoints" class="text-danger"></span><br />
        <button type="submit">Add</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
