@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p style="display:-webkit-box">
        <a href="\admin\board"><img src="~/images/button_add-arduino-board.png" /></a>
        <a href="\admin\breadboard"><img src="~/images/button_add-breadboard.png" /></a>
        <a href="\admin\led"><img src="~/images/button_add-led.png" /></a>
        <a href="\admin\motor"><img src="~/images/button_add-motor.png" /></a>
        <a href="\admin\sensor"><img src="~/images/button_add-sensor.png" /></a>
        <a href="\admin\wireset"><img src="~/images/button_add-wire-set.png" /></a>
    </p>
}
