@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p>
        <a href="\customer\board"><img src="~/images/button_arduino-boards.png" /></a>
        <a href="\customer\breadboard"><img src="~/images/button_breadboards.png" /></a>
        <a href="\customer\led"><img src="~/images/button_leds.png" /></a>
        <a href="\customer\motor"><img src="~/images/button_motors.png" /></a>
        <a href="\customer\sensor"><img src="~/images/button_sensors.png" /></a>
        <a href="\customer\wireset"><img src="~/images/button_wire-sets.png" /></a>
    </p>
}
