@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ArduinoStore</h1>
    <p><img style="max-width:600px;" src="~/images/PNG image 2.png" /></p>
</div>
